@{      
    
}
<h1>FACTORIAL</h1>
<form action="" method="post">
    <input type="text" name="n" value="@ViewBag.num" /> 
    <input type="submit" name="name" value="CALCULAR" />
</form>

<h3>@ViewBag.resultado</h3>


