@{
    //ViewData["Title"] = "Home Page";
    var miVariable = "Hola Mundo";
}

<div class="text-center">
    <h1 class="display-4">@miVariable</h1>
    <p>Bienvenido @ViewData["nombre"]</p>
    <h2>@miVariable</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AU2WmblU2J0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

