@{
    //ViewData["Title"] = "Home Page";
    var miVariable = "Hola Mundo";
}

<div class="text-center">
    <h1 class="display-4">@miVariable</h1>
    <p>Bienvenido @ViewData["nombre"]</p>
    <h2>@miVariable</h2>
</div>

